body {
  font-family: "Noto Sans JP", sans-serif;
  color: #222;
  font-size: 20px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  max-width: 1080px;
}

@media (max-width: 768px) {
  .wrapper_sp {
    width: 86%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .wrapper_sp_lg {
    width: 93%;
    margin: 0 auto;
  }
}

.marker {
  color: #fff;
  background-color: #8AC6D1;
  padding: 0 0.6em;
  margin-right: 5px;
}
@media (max-width: 768px) {
  .marker {
    margin-right: 2px;
  }
}

.sub_color {
  color: #CBAC57;
}

.section_title {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 768px) {
  .section_title {
    margin-bottom: 35px;
  }
}
.section_title::before {
  position: absolute;
  content: "";
  background-color: #8AC6D1;
  width: 110px;
  height: 100%;
  z-index: -5;
}
@media (max-width: 768px) {
  .section_title::before {
    width: 25%;
    height: 100%;
  }
}
.section_title_image {
  width: 64px;
  margin: 0 20px;
  color: #fff;
}
@media (max-width: 768px) {
  .section_title_image {
    width: 11vw;
  }
}
.section_title_text {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 64px;
}
@media (max-width: 768px) {
  .section_title_text {
    font-size: 11vw;
  }
}
.section_title_text::first-letter {
  color: #fff;
  background-color: #8AC6D1;
}

.section_copy {
  margin-bottom: 50px;
  padding-left: 30px;
  line-height: 2em;
  position: relative;
  font-size: clamp(16px, 1.5vw, 20px);
}
@media (max-width: 768px) {
  .section_copy {
    font-size: 16px;
    padding-left: unset;
    margin-bottom: 45px;
  }
}
.section_copy::before {
  position: absolute;
  content: "";
  border-left: 3px solid #8AC6D1;
  width: 3px;
  height: 90%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .section_copy::before {
    content: unset;
  }
}

.section_button {
  display: block;
  text-align: center;
  width: 26%;
  padding: 12px 0;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 500;
  border: 1px solid #969696;
  min-width: 250px;
  margin: 0 auto;
  transition: 0.3s all;
  position: relative;
}
@media (max-width: 768px) {
  .section_button {
    font-size: 16px;
    min-width: 200px;
  }
}
.section_button:hover {
  color: #fff;
  background-color: #8AC6D1;
  border-color: #8AC6D1;
}
.section_button:hover::after {
  border: 1px solid #fff;
  border-top: 0;
  border-left: 0;
}
.section_button::after {
  position: absolute;
  content: "";
  border: 1px solid #222;
  border-top: 0;
  border-left: 0;
  width: 8px;
  height: 8px;
  right: 20px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}
@media (max-width: 768px) {
  .section_button::after {
    right: 10px;
  }
}

.tag_area {
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  top: -35px;
  left: 0;
}
@media (max-width: 768px) {
  .tag_area {
    top: -30px;
  }
}

.tag {
  font-size: 12px;
  padding: 0.25em 0;
  text-align: center;
  width: 90px;
  margin-right: 15px;
  color: #fff;
}
@media (max-width: 768px) {
  .tag {
    margin-right: 10px;
  }
}
.tag.team {
  background-color: #57CBCB;
}
.tag.cording {
  background-color: #578DCB;
}
.tag.design {
  background-color: #D84175;
}

.pagetitle {
  font-family: "din-2014-narrow", sans-serif;
  font-size: 42px;
  font-weight: 600;
  padding-left: 16px;
  position: relative;
}
.pagetitle::before {
  position: absolute;
  content: "";
  border-left: 3px solid #222;
  width: 3px;
  height: 70%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mv {
  text-align: center;
  background-image: url(../image/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 768px) {
  .mv {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1/1;
    background-position: center left;
    text-align: unset;
  }
}
.mv_inner {
  padding-top: 180px;
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  .mv_inner {
    padding-top: unset;
    padding-bottom: 20px;
  }
}
.mv::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: clamp(200px, 16.5vw, 230px);
  height: clamp(200px, 16.5vw, 230px);
  background-image: url(../image/walkman.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 768px) {
  .mv::before {
    content: none;
  }
}
.mv .myname {
  font-size: 12vw;
  font-family: "din-2014-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .mv .myname {
    font-size: 13vw;
    margin-bottom: 5px;
  }
}
.mv_copy {
  font-size: 1.8vw;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 768px) {
  .mv_copy {
    font-size: 4vw;
  }
}

.skill {
  margin-top: 160px;
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .skill {
    margin-top: 70px;
    width: 100%;
  }
}
.skill_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill_box {
  width: calc(50% - 15px);
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.3s all;
}
@media (max-width: 1146px) {
  .skill_box {
    width: 100%;
    margin-bottom: 20px;
  }
}
.skill_box_inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 12px;
}
@media (max-width: 1146px) {
  .skill_box_inner {
    justify-content: unset;
  }
}
.skill_box:last-child {
  margin-bottom: unset;
}
.skill_box:hover {
  transform: scale(1.1, 1.1);
}
.skill_name_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8AC6D1;
  color: #fff;
  width: 155px;
  height: 155px;
  min-width: 155px;
  position: relative;
}
.skill_name_box::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 999px;
  top: 5px;
  right: 5px;
}
.skill_name_box_inner {
  text-align: center;
}
.skill_name {
  font-family: "din-2014-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  padding-bottom: 10px;
  position: relative;
}
.skill_name::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #fff;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.skill_type {
  font-size: 16px;
  padding-top: 6px;
}
.skill_summary {
  display: flex;
  justify-content: space-between;
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: 2.12;
  width: 63%;
  text-align: justify;
  padding-left: 20px;
}
@media (max-width: 1146px) {
  .skill_summary {
    margin: 0 auto;
    font-size: 16px;
  }
}
.skill .other {
  width: 100%;
}
.skill .other .skill_summary {
  width: 85%;
  line-height: 1;
  padding-top: 10px;
}
@media (max-width: 1146px) {
  .skill .other .skill_summary {
    flex-direction: column;
    width: 63%;
  }
}
.skill .other .skill_summary_box {
  width: calc(33% - 20px);
  padding-right: 20px;
  position: relative;
}
@media (max-width: 1146px) {
  .skill .other .skill_summary_box {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skill .other .skill_summary_box::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  background-color: #8AC6D1;
  width: 1px;
  height: 80%;
  transform: translateY(-50%);
}
@media (max-width: 1146px) {
  .skill .other .skill_summary_box::after {
    content: unset;
  }
}
.skill .other .skill_summary_box:last-child {
  padding-right: unset;
}
.skill .other .skill_summary_box:last-child::after {
  content: none;
}
.skill .other .skill_title {
  font-family: "din-2014-narrow", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #8AC6D1;
  margin-bottom: 5px;
}
@media (max-width: 1146px) {
  .skill .other .skill_title {
    margin-bottom: unset;
  }
}
.skill .other .other_skill_summary {
  line-height: 2.12;
}
@media (max-width: 1146px) {
  .skill .other .other_skill_summary {
    line-height: 1.75;
  }
}

@media (max-width: 768px) {
  .works {
    width: 100%;
  }
}
.works_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  position: relative;
  padding-top: 32px;
  min-height: 240px;
}
@media (max-width: 768px) {
  .works_box {
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
}
.works_image {
  width: 39%;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 220px;
}
@media (max-width: 768px) {
  .works_image {
    width: 80%;
    margin-top: 15px;
  }
}
.works_textarea {
  width: 53%;
  position: relative;
}
@media (max-width: 768px) {
  .works_textarea {
    width: 100%;
  }
}
.works_textarea .more_read {
  color: #CBAC57;
  font-size: clamp(14px, 1.3vw, 18px);
  padding-bottom: 8px;
  right: 20px;
  bottom: 0;
  position: absolute;
  transition: 0.3s opacity;
}
@media (max-width: 768px) {
  .works_textarea .more_read {
    font-size: 12px;
    right: 5px;
  }
}
.works_textarea .more_read:hover {
  opacity: 0.8;
}
.works_textarea .more_read:hover::before {
  transform: scaleX(1);
  transform-origin: left top;
  opacity: 0.8;
}
.works_textarea .more_read::after {
  position: absolute;
  content: "";
  border: 1px solid #CBAC57;
  width: 8px;
  height: 8px;
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg) translateY(-50%);
  right: -20px;
  top: calc(50% - 4px);
}
@media (max-width: 768px) {
  .works_textarea .more_read::after {
    width: 5px;
    height: 5px;
    right: -12px;
  }
}
.works_textarea .more_read::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #CBAC57;
  width: 120%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right top;
  transition: 0.3s transform;
}
.works_title {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: 600;
  font-size: clamp(22px, 2vw, 28px);
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .works_title {
    font-size: 20px;
  }
}
.works_supplement {
  font-size: 16px;
  color: #8AC6D1;
  margin-bottom: clamp(10px, 1.2vw, 20px);
  padding-left: 20px;
  position: relative;
}
@media (max-width: 768px) {
  .works_supplement {
    display: none;
  }
}
.works_supplement::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #8AC6D1;
  left: 0;
  top: 50%;
  width: 12px;
}
.works_summary {
  line-height: 1.75;
  font-size: clamp(14px, 1.5vw, 20px);
  text-align: justify;
}
@media (max-width: 768px) {
  .works_summary {
    display: none;
  }
}

.about {
  margin-top: 120px;
}
@media (max-width: 768px) {
  .about {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .about .section_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about_name_box {
  display: flex;
  align-items: center;
}
.about_myname {
  margin-right: 40px;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 26px;
  padding-left: 25px;
  position: relative;
}
@media (max-width: 768px) {
  .about_myname {
    font-size: 22px;
    margin-right: 28px;
    padding-left: 18px;
  }
}
.about_myname::before {
  position: absolute;
  content: "";
  border-left: 3px solid #8AC6D1;
  left: 0;
  top: 0;
  height: 100%;
}
.about .sns_icon {
  width: 40px;
  margin-right: 18px;
  transition: 0.3s all;
}
@media (max-width: 768px) {
  .about .sns_icon {
    width: 24px;
    margin-right: 10px;
  }
}
.about .sns_icon:hover {
  opacity: 0.6;
}
.about_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .about_container {
    margin-bottom: 40px;
    padding-top: 40px;
  }
}
.about_text {
  line-height: 2em;
  margin-bottom: 50px;
  font-size: clamp(15px, 1.9vw, 20px);
}
@media (max-width: 768px) {
  .about_text {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
.about_text:last-child {
  margin-bottom: unset;
}
.about_image {
  width: clamp(180px, 20vw, 240px);
  height: clamp(180px, 20vw, 240px);
  border-radius: 999px;
  background-color: #8AC6D1;
  margin-right: 7%;
  background-image: url(../image/face.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center right;
}
@media (max-width: 768px) {
  .about_image {
    display: none;
  }
}

.vision {
  background-color: #CBAC57;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 85px 0;
  position: relative;
}
@media (max-width: 768px) {
  .vision {
    padding: 40px 0 65px;
  }
}
.vision_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vision::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #fff;
  width: 100%;
  left: 0;
  bottom: 18px;
}
@media (max-width: 768px) {
  .vision::after {
    bottom: 10px;
  }
}
.vision_title_box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  .vision_title_box {
    justify-content: center;
    margin-bottom: 35px;
  }
}
.vision_title_image {
  width: 38px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .vision_title_image {
    width: 7vw;
  }
}
.vision_title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .vision_title {
    font-size: 5vw;
  }
}
.vision_maincopy {
  width: 68%;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 974px;
  min-width: 600px;
  text-align: center;
  color: #CBAC57;
  background-color: #fff;
  font-size: clamp(20px, 2.1vw, 28px);
  font-weight: 500;
  margin-bottom: 80px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media (max-width: 768px) {
  .vision_maincopy {
    width: 100%;
    font-size: 18px;
    margin-bottom: 48px;
    line-height: 1.25;
    min-width: unset;
  }
}
.vision_maincopy br {
  display: none;
}
@media (max-width: 768px) {
  .vision_maincopy br {
    display: block;
  }
}
.vision_maincopy::before {
  position: absolute;
  content: "";
  border-left: 3px solid #CBAC57;
  height: 100%;
  left: 20px;
  top: 0;
}
@media (max-width: 768px) {
  .vision_maincopy::before {
    left: 2%;
  }
}
.vision_text {
  width: 55%;
  max-width: 794px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  line-height: 2;
  letter-spacing: 0.1em;
  margin-bottom: 60px;
  font-size: clamp(18px, 1.5vw, 20px);
}
@media (max-width: 768px) {
  .vision_text {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}
.vision_text:last-child {
  margin-bottom: unset;
}

.top {
  padding-bottom: 70px;
}
@media (max-width: 768px) {
  .top {
    display: none;
  }
}

.sidebar {
  position: fixed;
  left: 4%;
  top: 4%;
  transition: 0.3s all;
  z-index: 20;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar_logo {
  display: block;
  width: clamp(60px, 5.8vw, 80px);
  font-size: clamp(62px, 5.8vw, 80px);
  background-image: url(../image/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 35px;
  aspect-ratio: 2/1;
}
.sidebar_logo:hover {
  opacity: 0.7;
}
.sidebar li {
  margin-bottom: 25px;
}
.sidebar li a {
  font-weight: 500;
  font-size: clamp(16px, 1.5vw, 20px);
}
.sidebar li a:hover {
  opacity: 0.7;
}

.header {
  display: none;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    opacity: 0.9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 20;
  }
}
@media (max-width: 768px) {
  .header_logo {
    width: 80px;
  }
}

.return_top {
  position: fixed;
  right: 4%;
  bottom: 8%;
  width: 58px;
  height: 58px;
  background-image: url(../image/top_button.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.3s all;
  z-index: 20;
}
@media (max-width: 768px) {
  .return_top {
    bottom: 4%;
    width: 40px;
    height: 40px;
  }
}
.return_top:hover {
  opacity: 0.6;
}
.return_top a {
  display: block;
  width: 100%;
  height: 100%;
}

.copylight {
  color: #fff;
  background-color: #464646;
  padding: 0.75em 0;
  text-align: center;
  font-size: clamp(14px, 1.3vw, 18px);
}

.performance {
  position: relative;
  margin-top: 80px;
  padding-top: 40px;
}
.performance .marker {
  padding: 0 0.2em;
  margin-right: 0;
}
.performance .tag_area {
  top: 0px;
}
.performance_title {
  font-weight: 700;
  font-size: 24px;
  padding-left: 20px;
  border-left: 2px solid #8AC6D1;
  margin-bottom: 40px;
}
.performance_theme {
  font-family: "Hiragino Mincho ProN", serif;
  margin-bottom: 50px;
  padding-left: 20px;
}
.performance_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(80px, 7.1vw, 100px);
}
.performance_image_box {
  overflow-y: scroll;
  margin-right: 3%;
  width: 45%;
  height: 95vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.performance_image {
  width: 100%;
}
.performance_textarea {
  width: 50%;
}
.performance_text_block {
  margin-bottom: clamp(32px, 2.9vw, 40px);
}
.performance_text_block_title {
  font-size: clamp(16px, 1.3vw, 18px);
  font-weight: 700;
  margin-bottom: 15px;
  padding-left: 28px;
  position: relative;
}
.performance_text_block_title::before {
  position: absolute;
  content: "";
  border-radius: 999px;
  background-color: #8AC6D1;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.performance_text_block_summary {
  font-size: clamp(14px, 1.2vw, 16px);
  padding-left: 8px;
  line-height: 1.78;
  text-align: justify;
}
.performance_button {
  display: block;
  text-align: center;
  width: 26%;
  padding: 12px 0;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 500;
  border: 1px solid #969696;
  min-width: 250px;
  margin: 0 auto;
  transition: 0.3s all;
  position: relative;
  color: #fff;
  border: unset;
  transition: 0.3s all;
}
@media (max-width: 768px) {
  .performance_button {
    font-size: 16px;
    min-width: 200px;
  }
}
.performance_button:hover {
  opacity: 0.7;
}
.performance_button.site {
  background-color: #CBAC57;
  margin-bottom: 10px;
}
.performance_button.git {
  background-color: #8AC6D1;
  margin-bottom: 120px;
}
.performance_button_text {
  display: inline-block;
  padding-right: 40px;
  font-size: clamp(16px, 1.5vw, 20px);
  position: relative;
}
.performance_button_text::after {
  position: absolute;
  content: "";
  width: clamp(14px, 1.3vw, 18px);
  height: clamp(14px, 1.3vw, 18px);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: url(../image/target_blank.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about_section {
  margin-top: 65px;
  padding-bottom: 20px;
}
.about_section_title {
  display: inline-block;
  font-family: "din-2014-narrow", sans-serif;
  font-weight: 700;
  font-size: 62px;
  margin-bottom: 40px;
  padding-left: 40px;
  position: relative;
}
.about_section_title::before {
  position: absolute;
  content: "";
  border-top: 3px solid #222;
  width: 20px;
  height: 3px;
  top: 50%;
  left: 0;
}
.about_section_textarea {
  margin-bottom: clamp(60px, 5.4vw, 75px);
}
.about_section_text {
  color: #fff;
  font-weight: 500px;
  font-size: clamp(18px, 1.8vw, 22px);
  margin-bottom: 30px;
  margin-left: 7.5%;
}
.about_section_text:last-child {
  margin-bottom: 0;
}
.about_section_mv {
  background-image: url(../image/mv_about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: clamp(80px, 7.2vw, 100px);
  padding-bottom: 50px;
}
.about_section_button_box {
  display: flex;
  justify-content: space-between;
  width: 44%;
  min-width: 440px;
  margin: 0 auto;
  height: auto;
}
.about_section_button {
  display: block;
  width: 46%;
  font-family: "din-2014-narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: #fff;
  text-align: center;
  padding: 0.25em 0;
  transition: 0.3s all;
  position: relative;
}
.about_section_button::after {
  position: absolute;
  content: "";
  border: 1px solid #222;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  right: 5%;
  width: 8px;
  height: 8px;
}
.about_section_button:hover {
  background-color: #8AC6D1;
  color: #fff;
}
.about_section_button:hover::after {
  border: 1px solid #fff;
  border-top: 0;
  border-right: 0;
}

.motto {
  display: flex;
  justify-content: space-between;
}
.motto_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.motto_box_title_block {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.motto_box_number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8AC6D1;
  color: #fff;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-size: clamp(22px, 2vw, 27px);
  width: clamp(35px, 3.6vw, 50px);
  height: clamp(35px, 3.6vw, 50px);
}
.motto_box_title {
  margin-left: 12%;
  font-size: clamp(20px, 2vw, 28px);
  font-weight: 500;
}
.motto_box_image {
  padding-bottom: 25px;
  width: 75%;
}
.motto_box_text {
  letter-spacing: 0.08em;
  line-height: 1.85;
  font-size: 18px;
  text-align: justify;
  font-size: clamp(16px, 1.3vw, 20px);
  padding-top: 30px;
  position: relative;
}
.motto_box_text span {
  color: #8AC6D1;
  font-weight: 500;
}
.motto_box_text::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #8AC6D1;
  width: 40%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.career {
  margin-bottom: 100px;
}
.career_box {
  display: flex;
}
.career_year {
  width: 18%;
  position: relative;
}
.career_year::before {
  position: absolute;
  content: "";
  border-left: 1.5px solid #8AC6D1;
  height: 100%;
  width: 1.5px;
  margin-left: calc(22% + 30px);
  z-index: -15;
}
.career_year.last::before {
  content: none;
}
.career_year_box {
  width: 61px;
  height: 61px;
  margin-left: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  color: #fff;
}
.career_year_box::before {
  position: absolute;
  content: "";
  border: 1.5px solid #8AC6D1;
  background-color: #fff;
  border-radius: 999px;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.career_year_box::after {
  position: absolute;
  content: "";
  background-color: #8AC6D1;
  border-radius: 999px;
  width: 70%;
  height: 70%;
  z-index: -5;
}
.career_textarea {
  width: 82%;
  margin-bottom: 70px;
}
.career_title {
  display: inline-block;
  background-color: #578DCB;
  color: #fff;
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 500;
  padding: 0.5em 1.5em;
  margin-bottom: 30px;
  position: relative;
}
.career_title::before {
  position: absolute;
  content: "";
  border-left: 3px solid #fff;
  height: 100%;
  margin-left: 10px;
  top: 0;
  left: 0;
}
.career_text {
  line-height: 1.68;
  text-align: justify;
  font-size: clamp(16px, 1.8vw, 20px);
}
.career_text span {
  color: #8AC6D1;
  font-weight: 500;
}
.career_award {
  display: flex;
  margin-top: 35px;
}
.career_award_title {
  display: inline-block;
  padding-left: 15px;
  font-weight: 700;
  position: relative;
  font-size: clamp(16px, 1.8vw, 20px);
  white-space: nowrap;
}
.career_award_title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-left: 5px solid #8AC6D1;
  height: 1.5em;
}
.career_award_textarea {
  margin-left: 35px;
  font-size: clamp(16px, 1.8vw, 20px);
}
.career_award_textarea p {
  margin-bottom: 0.5em;
}
.career_award_textarea p:last-child {
  margin-bottom: unset;
}
/*# sourceMappingURL=style.css.map */