@use "../setting/color";
@use "../setting/function";

// id="top"
.top{
    padding-bottom: 70px;

    @include function.mq() {
        display: none;
    }
}

// 固定ナビ
.sidebar{
    position: fixed;
    left: 4%;
    top: 4%;
    transition: .3s all;
    z-index: 20;

    @include function.mq(){
        display: none;
    }

    &_logo{
        display: block;
        width: clamp(60px,5.8vw,80px);
        font-size: clamp(62px,5.8vw,80px);
        background-image: url(../image/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-bottom: 35px;
        aspect-ratio: 2/1;

        &:hover{
            opacity: .7;
        }

    }

    li {
        margin-bottom: 25px;

        a{
            font-weight: 500;
            font-size: clamp(16px,1.5vw,20px);

            &:hover{
                opacity: .7;
            }
        }
    }
}

// スマホ用ヘッダー
.header{
    display: none;

    @include function.mq() {
        width: 100%;
        display: block;
        opacity: .9;
        position: sticky;
        top: 0;
        background-color: color.$white;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 20;
    }

    &_inner{
        @include function.mq() {
            display: flex;
            justify-content: space-between;

        }
    }

    &_logo{
        @include function.mq() {
            display: block;
            width: 80px;
            background-image: url(../image/logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            aspect-ratio: 2/1;
        }
    }

    &_nav{
        @include function.mq() {
            display: flex;
            position: fixed;
            width: 100vw;
            height: calc(100vh - 60px);
            top: 60px;
            background-color: color.$white;
            flex-direction: column;
            justify-content: center;
            transform: scaleY(0);
            transform-origin: top;
            transition: .3s transform;
        }

        ul{
            height: 55vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        a{
            font-size: 24px;
            font-weight: 500;
        }

        .on &{
            transform: scaleY(1);
            transform-origin: top;
        }
    }
}

// ハンバーガーメニュー
.hamburger_menu{
    width: 40px;
    height: 40px;

    &::before {
        display: block;
        width: 100%;
        height: 100%;
        font-family: 'Material Icons';
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        content: '\e5d2';
        color: color.$base-color;
    
        .on &{
            content: '\e5cd';
        }
    }
}


// トップに戻るボタン
.return_top{
    position: fixed;
    right: 4%;
    bottom: 8%;
    width: 58px;
    height: 58px;
    background-image: url(../image/top_button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .3s all;

    z-index: 20;

    @include function.mq() {
        bottom: 4%;
        width: 40px;
        height: 40px;
    }

    &:hover{
        opacity: .6;
    }

    a{
        display: block;
        width: 100%;
        height: 100%;
    }
}
