@use "../setting/function";

$initType: 'normal';
@mixin btn($type:$initType){
    @if( $type == 'normal' ){
        display: block;
        text-align: center;
        width: 26%;
        padding: 12px 0;
        font-size: clamp(18px,2vw,22px);
        font-weight: 500;
        border: 1px solid #969696;
        min-width: 250px;
        margin: 0 auto;
        transition: .3s all;

        position: relative;

        @include function.mq() {
            font-size: 16px;
            min-width: 200px;
        }
    }


    @else if( $type == 'works' ){
    }

}